#bluetooth {
  background-color: #1a1b26;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px; 
  box-shadow: none;
  min-width: 0;
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  margin-left: 0px; 
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  color: #888888;
  font-size: 17px;
}

#bluetooth:hover {
  background-color: rgb(41, 42, 53);
}

#bluetooth.on {
  color: #2196f3;
}
#bluetooth.connected {
  color: #99d1db;
}
