#idle_inhibitor {
  background-color: #1a1b26;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px;
  border-radius: 0;
  box-shadow: none;
  min-width: 0;
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  font-size: 14px;
  padding-right: 16px;
  padding-left: 9px;
  color: #c6d0f5;
}

#idle_inhibitor:hover {
  background-color: rgb(41, 42, 53);
}

/* Idle DESATIVADO (normal, permite sleep) */
#idle_inhibitor.deactivated {
  color: #c6d0f5;
}

/* Idle ATIVADO (caffeine ligado / não dorme) */
#idle_inhibitor.activated {
  color: #e78284;
}
