#network {
  background-color: #1a1b26;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px; 
  border-radius: 0;
  box-shadow: none;
  min-width: 0;
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  font-size : 16px;
  padding-right: 3px;
}

#network:hover {
  background-color: rgb(41, 42, 53);
}

#network {
  color: #c6d0f5;
}

#network.disconnected {
  color: #e78284;
}
