#backlight,
#battery {
  background-color: #1a1b26;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px; 
  border-radius: 0;
  box-shadow: none;
  min-width: 0;
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#backlight:hover,
#battery:hover {
  background-color: rgb(41, 42, 53);
}

#battery {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-right: 7px;
}

#backlight {
  color: #c6d0f5;
}


#battery {
  color: #99d1db;;
}
#battery.charging {
  color: #a6d189;
}
#battery.warning:not(.charging) {
  color: #e78284;
}
