#custom-player {
  background-color: #1a1b26;
  color: #babbf1;
  border-radius: 6px;
  padding: 0.3rem 0.6rem;
  margin: 5px 2px 5px 0px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#custom-player:hover {
  background-color: #292a35;
  box-shadow: inset 0 0 0 1px rgba(153, 209, 219, 0.2);
}
