#tray {
  background-color: #1a1b26;
  margin: 5px;
  border-radius: 6px;
  color: #888888;
  font-size: 16px;
}

#tray widget > image {
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

#tray > *:hover {
  background-color: rgb(41, 42, 53);
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}
